<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
    .complete {
      text-decoration: line-through;
    }
    * {
      box-sizing: border-box;
    }
      .wrapper {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%; 
      }

      // demo & defaults
      .box {
          background-color: #444;
          color: #fff;
          padding: 1em;
      }
  </style>

  </head>
  <body>
    <h1>Hello, world!</h1>

    <div class="container">
        <div id="app" class="wrapper">
          <div class="box a">
            {{ message }}
            <br>
            <p>the value of the input is: {{message}}</p>
            <p></p>
            <input type="text" id="input" v-model="newName" >
            <button v-on:click="addName(message)">add</button>
            <ul>
              <li v-for="(task, key) in tasks" v-on:click="toggleCompleted(key)"><div :class="{complete: task.completed}"> <input type="checkbox" v-bind:checked="task.completed"> {{ task.description }}</div></li>
            </ul>
          </div>
          <div class="box b">
            <h2>Completed tasks:</h2>
            <ul>
              <li v-if="task.completed" v-for="(task, key) in tasks"><div :class="{complete: task.completed}"> {{ task.description }}</div></li>
            </ul>
          </div>
          <div class="box c">
            <h2>Incomplete tasks:</h2>
              <ul>
                <li v-if="! task.completed" v-for="(task, key) in tasks"><div :class="{complete: task.completed}"> {{ task.description }}</div></li>
            </ul>
          </div>
        </div>
      </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          tasks: [
            {description: "Go to the store", completed: true},
            {description: "Buy some clothes", completed: false},
            {description: "Buy some oil", completed: false},
            {description: "Read a book", completed: true},
          ],
          newName: "",
        },
        methods: {
          addName(message) {
            app.tasks.push({description: this.newName,  completed: false});
          },
          toggleCompleted(key) {
            app.tasks[key].completed = !app.tasks[key].completed;
          }
        }
      });
    </script>
  </body>
</html>